{% extends "bootstrap/base.html" %} 

{% block content %}
<h1>Pragmatrix</h1>

<p> Enter a valid submission: </p>
<form action = "/predict" method = "POST">
    <label for = "user_submission"> Submit a 3000 to 6000 characters-long text to obtain predictions: </label>
    <input id = "user_submission" type = "text" name = "user_submission" />
    <input type = "submit" />
</form>



<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Your submission</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
